<div class="w-full h-[400px] flex items-center justify-center mt-5">
    <div class="w-[95%] h-[400px] relative bg-[linear-gradient(_10deg,_black,_#01908a,_#01908a,_black)] flex flex-col justify-around items-center rounded-md">
        <div class="w-[90%] max-w-[880px] relative h-[200px] bg-[#3b4443] flex justify-between items-center rounded-md ps-[1.2%] overflow-hidden">
            <!--clockFace6-->
            <div class="w-[14%] h-[170px] border-[4px] border-black rounded-md relative bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)] overflow-hidden">
                <div 
                    [ngClass]=" !isCounting ? 'numColumnPaused' : 'numColumnStart' "
                    [ngStyle]="{'animation-duration': this.countingSpeed*1000000 + 'ms'}"
                >
                    <div *ngFor="let num of this.numArr" class="w-[100%] h-[170px] flex justify-center items-center ">
                        <span class="text-3xl sm:text-[4em] md:text-[5em] lg:text-[6.5em] xl:text-[7em] font-bold text-white">{{num}}</span>
                    </div>
                </div>
            </div>
            <!--clockFace5-->
            <div class="w-[14%] h-[170px] border-[4px] border-black rounded-md relative bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)] overflow-hidden">
                <div 
                    [ngClass]=" !isCounting ? 'numColumnPaused' : 'numColumnStart' "
                    [ngStyle]="{'animation-duration': this.countingSpeed*100000 + 'ms'}"
                >
                    <div *ngFor="let num of this.numArr" class="w-[100%] h-[170px] flex justify-center items-center ">
                        <span class="text-3xl sm:text-[4em] md:text-[5em] lg:text-[6.5em] xl:text-[7em] font-bold text-white">{{num}}</span>
                    </div>
                </div>
            </div>
            <!--clockFace4-->
            <div class="w-[14%] h-[170px] border-[4px] border-black rounded-md relative bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)] overflow-hidden">
                <div 
                    [ngClass]=" !isCounting ? 'numColumnPaused' : 'numColumnStart' "
                    [ngStyle]="{'animation-duration': this.countingSpeed*10000 + 'ms'}"
                >
                    <div *ngFor="let num of this.numArr" class="w-[100%] h-[170px] flex justify-center items-center ">
                        <span class="text-3xl sm:text-[4em] md:text-[5em] lg:text-[6.5em] xl:text-[7em] font-bold text-white">{{num}}</span>
                    </div>
                </div>
            </div>
            <!--clockFace3-->
            <div class="w-[14%] h-[170px] border-[4px] border-black rounded-md relative bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)] overflow-hidden">
                <div 
                    [ngClass]=" !isCounting ? 'numColumnPaused' : 'numColumnStart' "
                    [ngStyle]="{'animation-duration': this.countingSpeed*1000 + 'ms'}"
                >
                    <div *ngFor="let num of this.numArr" class="w-[100%] h-[170px] flex justify-center items-center ">
                        <span class="text-3xl sm:text-[4em] md:text-[5em] lg:text-[6.5em] xl:text-[7em] font-bold text-white">{{num}}</span>
                    </div>
                </div>
            </div>

            <!--clockFace2-->
            <div class="w-[14%] h-[170px] border-[4px] border-black rounded-md relative bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)] overflow-hidden">
                <div 
                    [ngClass]=" !isCounting ? 'numColumnPaused' : 'numColumnStart' "
                    [ngStyle]="{'animation-duration': this.countingSpeed*100 + 'ms'}"
                >
                    <div *ngFor="let num of this.numArr" class="w-[100%] h-[170px] flex justify-center items-center ">
                        <span class="text-3xl sm:text-[4em] md:text-[5em] lg:text-[6.5em] xl:text-[7em] font-bold text-white">{{num}}</span>
                    </div>
                </div>
            </div>

            <!--clockFace1-->
            <div class="w-[16.6%] h-[200px] relative bg-red-500 flex items-center ms-[-1.8%] px-[1.8%] rounded-tr-md rounded-br-md ">
                <div class="w-full h-[170px] border-[4px] border-black rounded-md relative bg-[linear-gradient(_135deg,_black,_rgba(255,255,255,.1),_black)] overflow-hidden">
                    <div
                        [ngClass]=" !isCounting ? 'numColumnPaused' : 'numColumnStart' "
                        [ngStyle]="{'animation-duration': this.countingSpeed*10 + 'ms'}"
                    >
                        <div *ngFor="let num of this.numArr" class="w-[100%] h-[170px] flex justify-between ps-[17%] items-center bg-red-500">
                            <span class="text-3xl sm:text-[4em] md:text-[5em] lg:text-[6.5em] xl:text-[7em] font-bold text-white">{{num}}</span>
                            <div class="text-end flex flex-col translate-y-[-19px]">
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">__</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                                <span class="h-[3.09px] text-white">_</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-[100%] h-[170px] absolute top-0 bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)]"></div>
                </div>
                <div class="absolute top-[50%] bg-white w-[11%] h-[4px] right-[0]"></div>
                <div class="absolute bottom-0 bg-white w-[2px] h-[20px] right-[99%]">
                    <div class="h-[12px] w-[12px] bg-black border-2 translate-x-[-40%] translate-y-[115%] border-white rounded-full"></div>
                </div>
                <div class="absolute top-0 bg-white w-[2px] h-[20px] right-[99%]"></div>
            </div>
        </div>
        <div class="w-[90%] max-w-[880px] h-[200px] absolute top-[27px] bg-[linear-gradient(_rgba(0,0,0,.6),_rgba(255,255,255,.0),_rgba(0,0,0,.6))] rounded-md">

        </div>

        <!--measuring disc-->
        <div class="w-[85%] max-w-[800px] h-[20px] border-[5px] border-black relative rounded-md ">
            <div class="absolute left-[-40px] top-[-65%]">
                <mat-icon>label_important</mat-icon>
            </div>
            <div class="absolute left-[-25px] bottom-0">
                <mat-icon class="scale-[1.5]">minimize</mat-icon>
            </div>
            <div class="absolute right-[-25px] bottom-0">
                <mat-icon class="scale-[1.5]">minimize</mat-icon>
            </div>
            <div class="absolute right-[-30px] top-[-65%]">
                <mat-icon class="scale-[0.7]">send</mat-icon>
            </div>
            <div class="w-[4px] h-[30px] bg-black absolute left-[50%] bottom-0"></div>
            <div class="w-[4px] h-[30px] bg-black absolute left-[50%] top-0"></div>
            <div class="w-[4px] h-[10.19px] bg-white absolute left-[50%] top-0"></div>
            <div class="w-full h-full relative top-0 overflow-hidden">
                <div  
                 [ngClass]=" !isCounting ? 'discSytlePaused' : 'discSytleStart' "
                 [ngStyle]="{'animation-duration': this.countingSpeed + 'ms'}"
                >
                    <div class="w-[10px] h-[10px] bg-red-700"></div>
                </div>
                <div class="w-full h-full bg-[linear-gradient(_90deg,_black,_rgba(255,255,255,.0),_black)] absolute top-0 opacity-70">

                </div>
            </div>
            
        </div>
            
        <div class="mt-[-50px] translate-y-[20px]">
            <!--Display-->
            <div class="w-[80px] h-[30px] relative bg-slate-400 border-2 border-black mx-auto pe-2">
                <div class="flex justify-end">
                    <div class="w-[34px] text-end overflow-hidden">
                        <span class="text-red-600 text-xl font-semibold tracking-widest">
                            {{ 100 - ((this.countingSpeed - 50) / (1000 - 50) * 100) }}
                        </span>
                    </div> 
                    <span class="text-red-600 text-xl font-semibold">%</span>
                </div>
                
            </div>
            <div class="w-[80px] h-[30px] absolute top-0 right-[12px] bg-[linear-gradient(_black,_rgba(255,255,255,.1),_black)]"></div>
            <span class="text-lg absolute top-0 right-[94px]">Speed:</span>

            <!--options-->
            <div class=" mt-2 flex justify-center">
                <button 
                    [ngClass]="this.countingSpeed !== 1000 && this.isCounting ? 'text-white me-4 blur-0 opacity-100 duration-500' : 'text-white me-4 blur-lg opacity-0 duration-500' "
                    (click)="counterSpeeding(true)"
                ><mat-icon class="scale-[1.5]">fast_rewind</mat-icon></button>

                <!--Play & pause-->
                <div class="mx-auto relative">
                    <button 
                        [ngClass]="this.isCounting ? 'optionPlay' : 'optionPaused' "
                        (click)="this.counter(true)"
                    >
                        <mat-icon class="scale-[1.5]">pause</mat-icon>
                    </button>
                    <div 
                        [ngClass]=" !this.isCounting ? 'absolute top-0' : 'absolute top-0 z-[-100]' "
                    >
                        <button 
                            [ngClass]=" !this.isCounting ? 'optionPlay' : 'optionPaused' "
                            (click)="this.counter(false)" 
                        >
                            <mat-icon class="scale-[1.5]">play_arrow</mat-icon>
                        </button>
                    </div>
                </div>

                <button 
                    [ngClass]="this.countingSpeed !== 50 && this.isCounting ? 'text-white ms-4 blur-0 opacity-100 duration-500' : 'text-white ms-4 blur-lg opacity-0 duration-500' "
                    (click)="counterSpeeding(false)"
                ><mat-icon class="scale-[1.5]">fast_forward</mat-icon></button>
            </div>
        </div>
        
    </div>
</div>